.footer-custom {
    padding: 1rem;
    text-align: center;
}

.footer-busuanzi {
    margin: 10px 0 0;
    font-size: 14px;
    color: inherit;
    line-height: 1.5;
}

.footer-copyright {
    font-size: 14px;
    margin: 0;
}
